<!DOCTYPE html>
<html lang="en">
<head>
    <title>教室選択</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/commonStyle.css" type="text/css">
    <link rel="stylesheet" href="css/accordion.css" type="text/css">
</head>
<body>
    <h1>教室選択画面</h1>
    <div class="rooms accordions">
        {{ range $group1, $innerGroups := .RoomGroups }}
            <button>{{ $group1 }}</button>
            <div class="rooms accordions">
                {{ range $group2, $ids := $innerGroups }}
                    <button>{{ $group2 }}</button>
                    <div>
                        {{ range $id := $ids }}
                            <a href="./vote/{{ $id }}">{{ index $.RoomNames $id }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
    <script src="js/accordion.js"></script>
</body>
</html>