<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>temvote</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/commonStyle.css" type="text/css">
    </head>

    <body>
        <div class="back">
            <a href="/">戻る</a>
        </div>
        <h1 class="voteTitle">{{.RoomName}}は…</h1>

        <div class="select_button">
            <a class="button hot">
                <img src="../img/hot_button.png" alt="暑いボタン">
                <span class="displayCount">[<span class="counter hot"></span>人]</span>
            </a>
            <a class="button comfort">
                <img src="../img/comfort_button.png" alt="快適"/>
                <span class="displayCount">[<span class="counter comfort"></span>人]</span>
            </a>
            <a class="button cold">
                <img src="../img/cold_button.png" alt="寒いボタン">
                <span class="displayCount">[<span class="counter cold"></span>人]</span>
            </a>
        </div>

        <div class="message current_status">
            室温は<span class="temperature"></span>℃、不快指数は<span class="discomfort"></span>です。
        </div>
        <div class="message error">
            現在の温度はわかりません。
        </div>

        <script>
            var roomId = {{.RoomID}}
        </script>
        <script type="text/javascript" src="../js/temperature.js"></script>
    </body>

</html>




