/nbproject/
/static.deploy/

# binary files
/maint-usb-memory/service/bme280d

# disk image files
/maint-usb-memory/*.img
/maint-usb-memory/*.img.gz

# secret files
/maint-usb-memory/setup.conf
/maint-usb-memory/config/wpa_supplicant.conf
