/nbproject/
/static.deploy/

# temporary files
/maint-usb-memory/service/bme280d
/maint-usb-memory/service/requirements.txt

# disk image files
/maint-usb-memory/*.img
/maint-usb-memory/*.img.gz

# secret files and config files
/maint-usb-memory/setup.conf
/maint-usb-memory/config/wpa_supplicant.conf
/maint-usb-memory/config/bme280d.conf
/maint-usb-memory/config/bme280d-*.conf
/maint-usb-memory/gpg/
