/*
クリックで開閉するアコーディオンメニューのスタイル
 */

.accordions > button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s ease-in;
}

.accordions > button.active,
.accordions > button:hover {
    background-color: #ddd;
}

.accordions > div {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
