
[Unit]
Description=Change to debug mode
Documentation=https://github.com/yuuki0xff/temvote/tree/master/doc/usb-memory-for-maint.md
After=mnt-bme-debug.automount
RequiresMountsFor=/mnt/bmedebug/

[Service]
Type=oneshot
ExecStart=/mnt/bmedebug/setup.sh bme280d-debug
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
