
[Unit]
Description=Setup bme280d service
Documentation=https://github.com/yuuki0xff/temvote/tree/master/doc/usb-memory-for-maint.md
After=mnt-bme-setup.automount
RequiresMountsFor=/mnt/bmesetup/

[Service]
Type=oneshot
ExecStart=/mnt/bmesetup/setup.sh bme280d-setup
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
