[Unit]
Description=Temperature Logger
Documentation=https://github.com/yuuki0xff/temvote/doc
After=network.target

[Service]
Type=simple
EnvironmentFile=/srv/bme280d/conf/bme280d.conf
ExecStart=/srv/bme280d/bin/bme280d

Restart=always
RestartSec=1m

# disable start limit
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

