
[Unit]
Description=Mount of setup usb memory
Documentation=https://github.com/yuuki0xff/temvote/tree/master/doc/usb-memory-for-maint.md

[Mount]
What=/dev/disk/by-label/bme-debug
Where=/mnt/bmedebug/
Options=rw
LazyUnmount=on

[Install]
WantedBy=multi-user.target
