[Unit]
Description = Adjust time

[Service]
Type = simple
ExecStart = /usr/sbin/ntpdate -t 30 ntp.jst.mfeed.ad.jp ntp.nict.jp
Restart = on-failure
RestartSec = 30s

[Install]
WantedBy = network.target
